/* custom styles */
body {
  height: auto;
}
.content {
  font-family: 'Open Sans', sans-serif;
}

.clearfix:after {
	Visibility: hidden;
	Display: block;
	Content: “ ”;
	Clear: both;
	Height: 0;
	Font-size: 0;
}
/*
.hero-img {
  /*background-image: url("../imgs/Palm copy.jpg");*/
  /*margin: 0 auto;
  height: 100px;
  width: 100px;
}*/*/
/*
body {
  background-image: url("../imgs/Palm copy.jpg");
}*/

h1, h2 {
  text-align: center;
  color: white;
  margin-top: 700%;
}

h1 {
  border: 5px white solid;
}

.img-responsive {
    length: ;
    width: 100%;
}

.hero {
  background: url("../imgs/Palm copy.jpg") no-repeat center center;
  position: fixed;
  width: 100%;
  height: 1300px;
  z-index: -1;
}

.jumbotron {
  background-color: transparent;
  height: 100vh;
  color: white;
  text-align: center;
}

nav {
  background-color: transparent;
  padding: 13px;
  display: inline-block;
  text-align: left;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 20px;
  text-transform: uppercase;
  font-size: 150%;
}

a:hover {
  text-decoration: none;

}

.container, .content, .row, .col-sm-12 {
  width: 100%;
  height: 100%;
}

nav {
  width: 100%;
}

div.header-container {
  position: relative;
  top: 40%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.headshot {
  padding: 40px;
  padding-bottom: 100px;
  margin-bottom: 100px;

}

.bio {
  color: white;
  font-size: 14px;
  margin: 0 auto;
}
